#!/bin/bash

for i in "$@"
do
case $i in
    --all)
    ALL=true
    shift # past argument with no value
    ;;
    *)
            # unknown option
    ;;
esac
done

source $(dirname $0)/bkp-srv-extended.sh

## Paths
## Provide all paths with no trailing slash
INCOMING_FOLDER="/path/to/temp/folder"
BACKUP_FOLDER="/path/to/final/backups"
BACKUP_FOLDER_DAILY=$BACKUP_FOLDER"/backup.daily"
BACKUP_FOLDER_WEEKLY=$BACKUP_FOLDER"/backup.weekly"
BACKUP_FOLDER_MONTHLY=$BACKUP_FOLDER"/backup.monthly"

## Pushover.net config
P_PUSHOVERURL="https://api.pushover.net/1/messages.json"
P_API_KEY="YOUR-API-KEY"
P_USER_KEY="YOUR-USER-KEY"
P_DEVICE="optional-device-name"

if [[ $ALL == true ]]; then
  DAILY="daily"
  WEEKLY="daily"
  MONTHLY="daily"
else
  DAILY="daily"
  WEEKLY="weekly"
  MONTHLY="monthly"
fi;

## Add as manu site as you want
# FREQUENCY can be '$DAILY' '$WEEKLY' '$MONTHLY'
#backup "FREQUENCY" "/path/to/site/to/be/backedup" "DB-NAME" "DB-USER" "DB-PASSWORD"
backup "$DAILY" "/path/to/site/to/be/backedup" "DB-NAME" "DB-USER" "DB-PASSWORD"
backup "$MONTHLY" "/path/to/site/to/be/backedup"

e_note "Clean old backups";
clean_local_backup

e_note "Send notification";
notify "Daily backup report" "Daily terminated. "$SUCCEED" sites were backup correctly and "$FAILED" have errors"
